.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: var(--background, white);
  color: var(--text-color, black);
}

button {
  background: white;
  border: 2px solid black;
  padding: 1rem 3rem;
  cursor: pointer;
}

.buttons {
  margin-bottom: 1rem;

  button {
    padding: 0.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --text-color: white;
  }
}
