.App {
  padding: 0 1em;
}

h1 {
  margin: 0;
}

button {
  background: white;
  border: 2px solid black;
  padding: 1rem 3rem;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 100%;
}

.buttons {
  margin-top: 1rem;

  button {
    padding: 0.5rem;
    margin-inline: 0.5rem;
    width: auto;
  }
}

.digits {
  font-family: monospace;
}
